.bumpedfont15 {
    font-weight: bold;
    color: #000000;
    font-size: 20pt
}

.bumpedfont12 {
    font-weight: bold;
    color: #000000;
    font-size: 12pt
}

.bumpedfont15normal {
    font-weight: normal;
    color: #000000;
}

.s5 {
    margin-top: 5pt;
    margin-bottom: 5pt;
    line-height: normal;
    font-size: 12pt
}

.ptag {

    margin-top: 0pt;
    margin-bottom: 0pt;
    text-align: justify;
    line-height: 16.2pt
}
.underlinec{
    text-decoration: underline;
}