// video {
//     max-width: 100%;
//     border: 2px solid #333;
// }

// button {
//     padding: 10px 20px;
//     background-color: #0074d9;
//     color: #fff;
//     border: none;
//     cursor: pointer;
// }

// button:hover {
//     background-color: #0056b3;
// }

// canvas {
//     display: none;
// }

// img {
//     max-width: 100%;
//     margin-top: 20px;
// }
.mainDiv {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    background: #f1f1f1;
    /* background-color: #fff; */
    border: 1px solid #e0e4e8;
    border-radius: 16px;
    box-shadow: 0 8px 24px 0 rgba(149, 157, 165, .2);
    padding: 10px 24px !important;
}

.cameraHolder {
    position: relative;

    video,
    img {
        max-width: 100%;
        margin: 0 auto;
        // border: 2px solid #333;
    }
}

.cameraBtns {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: absolute;
    bottom: 10px;

    button {
        // margin: 0 auto;
        background: transparent;
        border: 0;
    }
}